<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>363572259971-68kfovkknb3pf25d0902e75vlhch8jb5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.363572259971-68kfovkknb3pf25d0902e75vlhch8jb5</string>
	<key>API_KEY</key>
	<string>AIzaSyCrIHeaL1SqPbdd_Sf8FUP5EhN15soC_dQ</string>
	<key>GCM_SENDER_ID</key>
	<string>363572259971</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.portfolioV3</string>
	<key>PROJECT_ID</key>
	<string>portfolio-v3-81ce2</string>
	<key>STORAGE_BUCKET</key>
	<string>portfolio-v3-81ce2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:363572259971:ios:3ab931e444302f03143fb6</string>
	<key>DATABASE_URL</key>
	<string>https://portfolio-v3-81ce2.firebaseio.com</string>
</dict>
</plist>